

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  background: #121319;
}
